@import '~include-media/dist/include-media';
@import '~open-color/open-color';

body {
    margin: 0;
}
.Instargram{
    display: grid;
    grid-template-columns: 220px auto;
    
    .grid_center {
        border-left: 1px solid rgb(180, 177, 177);
    }
    .grid_left {
        height: 100vh;
    }
}
.profile {
    border-radius: 70%;
}
.SideMenu {
    height: auto;
    padding: 8px 12px 20px 12px;
    display: grid;
    grid-template-rows: 73px 80vh 48px;
    
    position: relative;
    .logo_wrap{
        align-items: center;
        position: relative;
        padding: 25px 0 16px 12px;
        margin-bottom: 19px;
        .logo {
            width: 100px;
        }
    }
    .SideMenu_wrap {
        width : auto;
        height: auto;
        position: relative;
        .Icon_wrap {
            display: flex;
            margin: 16px 0;
            padding: 12px;
            img{
                width: 24px;
                height: 24px;
                margin-right: 16px;
            }
            .profile {
                border-radius: 50%;
            }
        }
        
    }
    .addIcon {
        position: relative;
        display: flex;
        margin: 16px 0;
        padding: 12px;
        img{
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
    }
}


.Main{
    display: grid;
    grid-template-columns: auto 500px 320px auto; 
    // grid-template-rows: 120px auto;
    grid-template-areas: 
    // ". center profile ."
    ". center profile ."
    ". center . .";
    background-color: #efefef;

        // .center-top{
        //     grid-area: story;
            
        // }
        .center {
            display: grid;
            grid-area: center;
            height: 100vh; //기본적인 배치 정렬 후 다시 작업
            grid-template-rows: 120px auto;
            
        }
        .side-left {
            grid-area: profile;
            
        }
    
}