@import './properties';



    
    .Story {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 6px;
        
        .accountName {
            font-size: 12px;
        }
    } 

