@import '../styles/properties';

.StoryBar {
    // display: flex;
    align-content: center;
    background-color: white;
    width: 470px;
    height: 90px;
    
    border-radius: 8px;
    border: 1px solid  $border-color-grey;

    margin: 25px 0 0 16px;
    padding: 12px 0;
    
    // overflow: hidden;
}

@media only screen and (max-width: 640px) {
    .Story {
        margin: 0 0 26px 0;
    }
}