.StoryBar {
    width: 470px;
    
    border-radius: 8px;
    border: 1px solid  rgb(180, 177, 177);
    background-color: white;
    margin: 25px 0 0 16px;
    padding: 16px 0;
    
    .Story {
        margin: 0 6px;
    }
}

